body {
  background-color: rgb(237, 246, 251);
}

@media (max-width: 400px) {
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 20px;
    height: 60px;
    background-color: rgb(237, 246, 251);
    z-index: 1;
  }

  #nav {
    font-size: 10px;
  }
  #nav:hover {
    color: rgb(51, 99, 211);
    cursor: pointer;
  }

  .logos {
    display: flex;
    justify-content: center;
  }

  #logo {
    height: 21px;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .header {
    margin-top: 30px;
  }

  .name {
    display: flex;
    gap: 2vw;
    height: fit-content;
    justify-content: center;
    margin-bottom: 10px;
  }

  #ryan {
    color: rgb(51, 99, 211);
  }

  .info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  #infoText {
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .CvButton {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    background-color: rgb(51, 99, 211);
  }

  #CvButton {
    margin: 0px 3px;
    color: rgb(237, 246, 251);
  }

  .profilePic {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 63px;
  }

  .aboutMe {
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
    color: rgb(51, 99, 211);
  }

  .divider {
    margin: 0px;
    color: black;
  }

  .aboutText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
  }

  #aboutText {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .projects {
    color: rgb(51, 99, 211);
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
  }

  .projectContainer {
    display: grid;
    grid-template-columns: 30px 100px 100px 100px 30px;
    grid-template-rows: 50px 60px 40px 40px 40px 30px 80px 50px 60px 40px 40px 40px 30px 80px 50px 60px 40px 40px 40px 30px 80px 50px 60px 40px 40px 40px 30px 80px;
  }

  #projectImg1Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  #projectImg1Description {
    color: black;
    margin-top: 0px;
    grid-area: 2 / 2 / 2 / 5;
  }

  #projectImg1 {
    border: 2px solid black;
    grid-area: 3 / 2 / 7 / 5;
  }

  #projectImg1Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 255, 0, 0.7);
    grid-area: 6 / 2 / 6 / 5;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  #projectImg2Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-area: 8 / 2 / 8 / 5;
  }

  #projectImg2Description {
    color: black;
    margin-top: 0px;
    grid-area: 9 / 2 / 9 / 5;
  }

  #projectImg2 {
    border: 2px solid black;
    grid-area: 10 / 2 / 14 / 5;
  }

  #projectImg2Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 255, 0, 0.7);
    grid-area: 13 / 2 / 13 / 5;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  #projectImg3Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-area: 15 / 2 / 15 / 5;
  }

  #projectImg3Description {
    color: black;
    margin-top: 0px;
    grid-area: 16 / 2 / 16 / 5;
  }

  #projectImg3 {
    border: 2px solid black;
    grid-area: 17 / 2 / 21 / 5;
  }

  #projectImg3Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(0, 255, 30, 0.7);
    grid-area: 20 / 2 / 20 / 5;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  #projectImg4Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-area: 22 / 2 / 22 / 5;
  }

  #projectImg4Description {
    color: black;
    margin-top: 0px;
    grid-area: 23 / 2 / 23 / 5;
  }

  #projectImg4 {
    border: 2px solid black;
    grid-area: 24 / 2 / 28 / 5;
  }

  #projectImg4Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(255, 255, 0, 0.7);
    grid-area: 27 / 2 / 27 / 5;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

/* ----------------------------------------------------- */
@media (min-width: 400px) {
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 60px;
    background-color: rgb(237, 246, 251);
    z-index: 1;
  }

  #nav {
    font-size: 15px;
  }
  #nav:hover {
    cursor: pointer;
    color: rgb(51, 99, 211);
  }

  .logos {
    display: flex;
    justify-content: center;
  }

  #logo {
    height: 21px;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .header {
    margin-top: 30px;
  }

  .headerText {
    position: relative;
    width: fit-content;
    left: 27vw;
    top: 25vh;
  }

  .name {
    display: flex;
    gap: 10px;
    height: fit-content;
    margin-bottom: 10px;
  }

  #ryan {
    color: rgb(51, 99, 211);
  }

  .info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  #infoText {
    display: flex;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .profilePic {
    width: fit-content;
    position: relative;
    left: 55vw;
  }
  .buttonContainer {
    margin-top: 20px;
  }
  .buttonContainer:hover {
    cursor: pointer;
  }

  .CvButton {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    background-color: rgb(51, 99, 211);
  }

  #CvButton {
    margin: 0px 3px;
    color: rgb(237, 246, 251);
  }

  .aboutMe {
    margin-top: 560px;
    margin-bottom: 560px;
    text-align: center;
    color: rgb(51, 99, 211);
  }

  .divider {
    margin: 0px;
    color: black;
  }

  .aboutText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
  }

  #aboutText {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .projects {
    color: rgb(51, 99, 211);
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
  }

  .projectContainer {
    display: grid;
    grid-template-columns: 450px 400px 200px 400px 450px;
    grid-template-rows: 50px 60px 55px 55px 55px 40px 80px 50px 60px 55px 55px 55px 40px 80px;
  }

  #projectImg1Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-area: 1 / 2 / 1 / 2;
  }

  #projectImg1Description {
    color: black;
    margin-top: 0px;
    grid-area: 2 / 2 / 2 / 2;
  }

  #projectImg1 {
    border: 2px solid black;
    grid-area: 3 / 2 / 7 / 2;
  }

  #projectImg1Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 255, 0, 0.7);
    grid-area: 6 / 2 / 6 / 2;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  #projectImg2Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-area: 1 / 4 / 1 / 4;
  }

  #projectImg2Description {
    color: black;
    margin-top: 0px;
    grid-area: 2 / 4 / 2 / 4;
  }

  #projectImg2 {
    border: 2px solid black;
    grid-area: 3 / 4 / 7 / 4;
  }

  #projectImg2Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 255, 0, 0.7);
    grid-area: 6 / 4 / 6 / 4;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  #projectImg3Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-area: 8 / 2 / 8 / 2;
  }

  #projectImg3Description {
    color: black;
    margin-top: 0px;
    grid-area: 9 / 2 / 9 / 2;
  }

  #projectImg3 {
    border: 2px solid black;
    grid-area: 10 / 2 / 14 / 2;
  }

  #projectImg3Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(0, 255, 30, 0.7);
    grid-area: 13 / 2 / 13 / 2;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  #projectImg4Header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    grid-area: 8 / 4 / 8 / 4;
  }

  #projectImg4Description {
    color: black;
    margin-top: 0px;
    grid-area: 9 / 4 / 9 / 4;
  }

  #projectImg4 {
    border: 2px solid black;
    grid-area: 10 / 4 / 14 / 4;
  }

  #projectImg4Status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(255, 255, 0, 0.7);
    grid-area: 13 / 4 / 13 / 4;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .contact {
    margin-top: 400px;
    margin-bottom: 400px;
    color: rgb(51, 99, 211);
    text-align: center;
  }

  .contactText {
    text-align: center;
    color: black;
    margin-bottom: 40px;
  }

  #emailTitle {
    margin-bottom: 60px;
  }
}
