body {
  background-color: rgb(237, 246, 251);
}

.header {
  margin: auto;
  width: 50%;
  color: rgb(10, 12, 16);
  line-height: 2px;
}

.greeting {
  margin-bottom: 5px;
}

.name {
  display: flex;
}
#name {
  margin-right: 10px;
}

#ryan {
  color: rgb(19, 126, 241);
  margin-right: 10px;
}

.info {
  flex-wrap: wrap;
  margin: 0;
  line-height: 1;
}

#infoText {
  margin-top: 8px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

#nav {
  color: rgb(10, 12, 16);
  font-size: 10px;
  padding: 20px;
}
#nav:hover {
  color: rgb(19, 126, 241);
}
