body {
  background-color: rgb(237, 246, 251);
}

@media (max-width: 400px) {
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-bottom: 25px;
    height: 60px;
    background-color: rgb(237, 246, 251);
    z-index: 1;
  }

  #nav {
    font-size: 10px;
  }
  #nav:hover {
    color: rgb(51, 99, 211);
  }

  .logos {
    display: flex;
    justify-content: center;
  }

  #logo {
    height: 21px;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .header {
    margin-top: 30px;
  }

  .name {
    display: flex;
    gap: 2vw;
    height: fit-content;
    justify-content: center;
    margin-bottom: 10px;
  }

  #ryan {
    color: rgb(51, 99, 211);
  }

  .info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  #infoText {
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .CvButton {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    background-color: rgb(51, 99, 211);
  }

  #CvButton {
    margin: 0px 3px;
    color: rgb(237, 246, 251);
  }

  .profilePic {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 63px;
  }

  .aboutMe {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(51, 99, 211);
  }

  .divider {
    margin: 0px;
    color: black;
  }

  .aboutText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
  }

  #aboutText {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

/* ----------------------------------------------------- */
@media (min-width: 400px) {
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 60px;
    background-color: rgb(237, 246, 251);
    z-index: 1;
  }

  #nav {
    font-size: 15px;
  }
  #nav:hover {
    color: rgb(51, 99, 211);
  }

  .logos {
    display: flex;
    justify-content: center;
  }

  #logo {
    height: 21px;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .header {
    margin-top: 30px;
  }

  .headerText {
    position: relative;
    width: fit-content;
    left: 27vw;
    top: 25vh;
  }

  .name {
    display: flex;
    gap: 10px;
    height: fit-content;
    margin-bottom: 10px;
  }

  #ryan {
    color: rgb(51, 99, 211);
  }

  .info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  #infoText {
    display: flex;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .profilePic {
    width: fit-content;
    position: relative;
    left: 55vw;
  }
  .buttonContainer {
    margin-top: 20px;
  }

  .CvButton {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    background-color: rgb(51, 99, 211);
  }

  #CvButton {
    margin: 0px 3px;
    color: rgb(237, 246, 251);
  }

  .aboutMe {
    margin-top: 300px;
    margin-bottom: 560px;
    text-align: center;
    color: rgb(51, 99, 211);
  }

  .divider {
    margin: 0px;
    color: black;
  }

  .aboutText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
  }

  #aboutText {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
