body {
  background-color: rgb(237, 246, 251);
}
.header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 10vh;
  line-height: 15px;
  color: rgb(10, 12, 16);
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

#nav {
  color: rgb(10, 12, 16);
  font-size: 10px;
  padding: 20px;
}
#nav:hover {
  color: rgb(19, 126, 241);
}
